#header {
	background-color: #214674;
	color: white;
	text-align: center;
	font-family: tahoma, arial, verdana, sans-serif;
	height: 70px;
}

#logout_btn {
	cursor: pointer;
}

table {
	height: 70px;
	width: 100%;
}

td {
	padding: 20px;
}

.td-left-data {
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	vertical-align: top;
}

.td-right-data {
	text-align: right;
	font-size: 16px;
	font-weight: normal;
}

.nav-box {
	padding: 10px;
}

li {
	margin: 10px 0;
	color: white;
	background-color: #214674;
}

.list-row {
	border: 2px solid #214674;
	cursor: pointer;
	list-style: none outside;
	padding: 10px;
}

.list-row-over {
	/* background-color: #C1DCFB; */
	background-color: #cbdbef;
	color: black;
}

.list-row-selected {
	background-color: #0080ff;
}