<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap/bootstrap.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/custom/login.css">
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<!-- /container -->
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="tab-container" ng-cloak>
					<tabset justified="true"> <tab heading="Authenticate">
					<form novalidate name="loginForm" ng-controller="LoginController">
						<div class="form-group">
							<label for="email">Email address</label> <input type="text"
								class="form-control" id="email"
								placeholder="Enter email address" name="userEmail"
								ng-model="user.email" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && loginForm.userEmail.$invalid}">
							<div ng-show="formSubmitted && loginForm.userEmail.$invalid">Email
								address cannot be blank</div>
						</div>
						<div class="form-group">
							<label for="password">Password</label> <input type="password"
								class="form-control" id="password" placeholder="Enter password"
								name="userPassword" ng-model="user.password" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && loginForm.userPassword.$invalid}">
							<div ng-show="formSubmitted && loginForm.userPassword.$invalid">Password
								cannot be blank</div>
						</div>
						<button ng-click="submitForm()" class="btn btn-primary btn-sm">Login</button>
						<button ng-click="revert()" class="btn btn-primary btn-sm">Reset</button>
					</form>
					</tab> <tab heading="Forgot Password?">
					<form novalidate name="forgotPswForm"
						ng-controller="ForgetPswController">
						<div class="form-group">
							<label for="email">Email address</label> <input type="text"
								class="form-control" id="email"
								placeholder="Enter email address" name="userEmail"
								ng-model="user.email" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && forgotPswForm.userEmail.$invalid}">
							<div ng-show="formSubmitted && forgotPswForm.userEmail.$invalid">Email
								address cannot be blank</div>
						</div>
						<!-- div class="form-group">
							<div class="g-recaptcha"
								data-sitekey="6Lco8gUTAAAAAD9v2fK69whuzgu-l9ost_eBEfd_"></div>
						</div -->
						<button ng-click="submitForm()" class="btn btn-primary btn-sm">Submit</button>
						<button ng-click="revert()" class="btn btn-primary btn-sm">Reset</button>
					</form>
					</tab> </tabset>
				</div>
				<!-- tab-container -->
			</div>
		</div>

	</div>
	<!-- /container -->

	<script type="text/javascript"
		src="resources/js/angular/angular.1.3.15.js"></script>
	<script type="text/javascript"
		src="resources/js/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<!-- angular custom -->
	<script type="text/javascript" src="resources/js/modules/login/app.js"></script>
	<script type="text/javascript"
		src="resources/js/modules/login/controllers.js"></script>
	<script type="text/javascript"
		src="resources/js/modules/common/app.js"></script>
	<script type="text/javascript"
		src="resources/js/modules/common/controllers.js"></script>
	<script type="text/javascript"
		src="resources/js/modules/common/services.js"></script>
	<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->

</body>
</html>