<!-- This html is used as the template of userProfile directive -->
<form novalidate name="myProfileForm"
	confirm-on-exit current="user"
	original="originalUser">
	<div class="row">
		<div class="col-md-6" ng-cloak="">
			<div class="well">
				<div class="form-group">
					<label for="email">Email address</label> <input type="text"
						class="form-control" id="email" placeholder="Enter email address"
						name="userEmail" ng-model="user.email" ng-required="true"
						ng-pattern="emailPattern" ng-readonly="{{emailNoModify}}"
						ng-class="{'invalid-input': formSubmitted && myProfileForm.userEmail.$invalid}">
					<div
						ng-show="formSubmitted && myProfileForm.userEmail.$error.required">Email
						address cannot be blank</div>
					<div
						ng-show="formSubmitted && myProfileForm.userEmail.$error.pattern">Enter
						a valid email address</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label> <input type="password"
						class="form-control" id="password" placeholder="Enter password"
						name="userPassword" ng-model="user.password" ng-required="true"
						bs-modifiable="true"
						ng-class="{'invalid-input': formSubmitted && myProfileForm.userPassword.$invalid}">
					<div
						ng-show="formSubmitted && myProfileForm.userPassword.$error.required">Password
						cannot be blank</div>
				</div>
				<div class="form-group"
					ng-show="myProfileForm.userPassword.modified">
					<label for="cnfrmPassword">Confirm Password</label> <input
						type="password" class="form-control" id="cnfrmPassword"
						placeholder="Re-Enter password" name="userCnfrmPassword"
						ng-model="cnfrmPassword"
						ng-required="myProfileForm.userPassword.modified" cnfrmpsw
						ng-class="{'invalid-input': formSubmitted && myProfileForm.userCnfrmPassword.$invalid}">
					<div
						ng-show="formSubmitted && (myProfileForm.userCnfrmPassword.$error.required || myProfileForm.userCnfrmPassword.$error.cnfrmpsw)">Confirm
						Password cannot be blank and must match Password</div>
				</div>
				<div class="form-group">
					<label for="uname">Name</label> <input type="text"
						class="form-control" id="uname" placeholder="Enter Name"
						name="userName" ng-model="user.name" ng-required="true"
						ng-class="{'invalid-input': formSubmitted && myProfileForm.userName.$invalid}">
					<div
						ng-show="formSubmitted && myProfileForm.userName.$error.required">Name
						cannot be blank</div>
				</div>
				<div class="form-group">
					<label for="enabled" class="checkbox-inline"><input
						type="checkbox" id="enabled" name="userEnabled"
						ng-model="user.enabled"><strong>Enabled</strong></label>
				</div>
			</div>
			<!-- well -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>User Roles</strong>
				</div>
				<div class="panel-body">
					<div
						ng-class="{'invalid-input': formSubmitted && !userRolesList.oneValueSelected}">
						<label class="checkbox-inline"
							ng-repeat="userRole in user.userRoles | orderBy: 'role'">
							<input type="checkbox" name="user.userRoles[{{ userRole.role }}]"
							ng-model="userRole.selected" user-role-required>
							{{userRole.role}}
						</label>
					</div>
					<span ng-show="formSubmitted && !userRolesList.oneValueSelected">At
						least one role must be selected</span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default user-spec">
				<div class="panel-heading">
					<strong>User Addresses</strong>
				</div>
				<div class="panel-body">
					<tabset> <tab justified="true" active="tabActive"
						ng-repeat="userAddress in user.userAddresses | orderBy: 'addressType'">
					<tab-heading>{{userAddress.addressType}} <span
						class="tab-invalid-class"
						ng-show="isAddressInvalid(myProfileForm, userAddress.addressType)">
						- Error(s)</span></tab-heading>
					<div class="tab-contents">
						<div class="address-label-space">
							<label for="address1">Address1: </label> <input type="text"
								id="address1" placeholder="Enter Address1"
								name="userAddress1_{{userAddress.addressType}}"
								ng-model="userAddress.address1" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && myProfileForm.userAddress1_{{userAddress.addressType}}.$invalid}">
							<span
								ng-show="formSubmitted && myProfileForm.userAddress1_{{userAddress.addressType}}.$error.required">Address1
								cannot be blank</span>
						</div>
						<div class="address-label-space">
							<label for="address2">Address2: </label> <input type="text"
								id="address2" placeholder="Enter Address2"
								name="userAddress2_{{userAddress.addressType}}"
								ng-model="userAddress.address2">
						</div>
						<div class="address-label-space">
							<label for="city">City: </label> <input type="text" id="city"
								placeholder="Enter City"
								name="userCity_{{userAddress.addressType}}"
								ng-model="userAddress.city" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && myProfileForm.userCity_{{userAddress.addressType}}.$invalid}">
							<span
								ng-show="formSubmitted && myProfileForm.userCity_{{userAddress.addressType}}.$error.required">City
								cannot be blank</span>
						</div>
						<div class="address-label-space">
							<label for="state">State: </label> <input type="text" id="state"
								placeholder="Enter State"
								name="userState_{{userAddress.addressType}}"
								ng-model="userAddress.state" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && myProfileForm.userState_{{userAddress.addressType}}.$invalid}">
							<span
								ng-show="formSubmitted && myProfileForm.userState_{{userAddress.addressType}}.$error.required">State
								cannot be blank</span>
						</div>
						<div class="address-label-space">
							<label for="zipCode">Zip Code: </label> <input type="text"
								id="zipCode" placeholder="Enter Zip Code"
								name="userZipCode_{{userAddress.addressType}}"
								ng-model="userAddress.zipCode" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && myProfileForm.userZipCode_{{userAddress.addressType}}.$invalid}">
							<span
								ng-show="formSubmitted && myProfileForm.userZipCode_{{userAddress.addressType}}.$error.required">Zip
								Code cannot be blank</span>
						</div>
						<div class="address-label-space">
							<label for="country">Country: </label> <input type="text"
								id="country" placeholder="Enter Country"
								name="userCountry_{{userAddress.addressType}}"
								ng-model="userAddress.country" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && myProfileForm.userCountry_{{userAddress.addressType}}.$invalid}">
							<span
								ng-show="formSubmitted && myProfileForm.userCountry_{{userAddress.addressType}}.$error.required">Country
								cannot be blank</span>
						</div>
					</div>
					<!-- tab-contents --> </tab> </tabset>
					<div>
						<span class="dropdown" dropdown> <a href
							class="dropdown-toggle" dropdown-toggle> Add Address </a>
							<ul class="dropdown-menu"
								ng-show="currentAddressTypes.userAddresses.length > 0">
								<li
									ng-repeat="currentAddressType in currentAddressTypes.userAddresses">
									<a href="" ng-click="addAddress(currentAddressType)">{{currentAddressType}}</a>
								</li>
							</ul>
						</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="dropdown"
							dropdown> <a href class="dropdown-toggle" dropdown-toggle>
								Delete Address </a>
							<ul class="dropdown-menu" ng-show="user.userAddresses.length > 0">
								<li ng-repeat="userAddress in user.userAddresses"><a
									href="" ng-click="deleteAddress(userAddress.addressType)">{{userAddress.addressType}}</a>
								</li>
							</ul>
						</span>
					</div>
				</div>
			</div>
			<div class="panel panel-default user-spec">
				<div class="panel-heading">
					<strong>User Phones</strong>
				</div>
				<div class="panel-body">
					<tabset> <tab justified="true" active="tabActive"
						ng-repeat="userPhone in user.userPhones | orderBy: 'phoneType'">
					<tab-heading>{{userPhone.phoneType}} <span
						class="tab-invalid-class"
						ng-show="isPhoneInvalid(myProfileForm, userPhone.phoneType)">
						- Error(s)</span></tab-heading>
					<div class="tab-contents">
						<div class="phone-label-space">
							<label for="phoneNumber">Phone Number: </label> <input
								type="text" id="phoneNumber" placeholder="Enter Phone Number"
								name="userPhoneNumber_{{userPhone.phoneType}}"
								ng-model="userPhone.phoneNumber" ng-required="true"
								ng-class="{'invalid-input': formSubmitted && myProfileForm.userPhoneNumber_{{userPhone.phoneType}}.$invalid}">
							<span
								ng-show="formSubmitted && myProfileForm.userPhoneNumber_{{userPhone.phoneType}}.$error.required">Phone
								Number cannot be blank</span>
						</div>
					</div>
					<!-- tab-contents --> </tab> </tabset>
					<div>
						<span class="dropdown" dropdown> <a href
							class="dropdown-toggle" dropdown-toggle> Add Phone </a>
							<ul class="dropdown-menu"
								ng-show="currentPhoneTypes.userPhones.length > 0">
								<li ng-repeat="currentPhoneType in currentPhoneTypes.userPhones">
									<a href="" ng-click="addPhone(currentPhoneType)">{{currentPhoneType}}</a>
								</li>
							</ul>
						</span> <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="dropdown"
							dropdown> <a href class="dropdown-toggle" dropdown-toggle>
								Delete Phone </a>
							<ul class="dropdown-menu" ng-show="user.userPhones.length > 0">
								<li ng-repeat="userPhone in user.userPhones"><a href=""
									ng-click="deletePhone(userPhone.phoneType)">{{userPhone.phoneType}}</a>
								</li>
							</ul>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div>
				<button ng-click="submitForm()" class="btn btn-primary btn-md">Save</button>
				<button ng-click="revert()" class="btn btn-primary btn-md">Discard</button>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;</span> <span
					ng-show="formSubmitted && !myProfileForm.$valid">Form has
					validation error(s) !!! Please correct the error(s) and save the
					form again</span>
			</div>
		</div>
	</div>
</form>
